
.addItemContainer{
    width: 99vw;
    height: 100vh;
    // border: 2px solid red;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addItemForm{
    width: 50vw;
    height: 60vh;
    // border: 2px solid red;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    select, input{
        width: 40%;
        margin-bottom: 5%;
        height: 3.5em;
        border-radius: 1em;
    }
    button{
        height: 3.0em;
        width: 5em;
    }
}
.zmdi{
    cursor: pointer;
}